<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrueCallerContactApp">
        <activity
            android:name=".ActivityContactSet"
            android:exported="false" />
        <activity
            android:name=".ActivityDialPad"
            android:exported="false" />
        <activity
            android:name=".ActivityAppearance"
            android:exported="false" />
        <activity
            android:name=".ActivitySetting"
            android:exported="false" />
        <activity
            android:name=".ActivityProfile"
            android:exported="false" />
        <activity
            android:name=".ActivityUngroupedContacts"
            android:exported="false" />
        <activity
            android:name=".ActivityRemoveFromGroup"
            android:exported="false" />
        <activity
            android:name=".ActivityAddToGroup"
            android:exported="false" />
        <activity
            android:name=".ActivityCoworkers"
            android:exported="false" />
        <activity
            android:name=".ActivityCallDetails"
            android:exported="false" />
        <activity
            android:name=".ActivityCreateNewContact"
            android:exported="false" />
        <activity
            android:name=".ActivityContactDetail"
            android:exported="false" />
        <activity
            android:name=".ActivityDeleteContact"
            android:exported="false" />
        <activity
            android:name=".ActivityDashBoard"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>